body {
    /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
    font-family: "Source Sans Pro", sans-serif;
    padding: 1em 3em;
    background: lightgoldenrodyellow;
  }
  
  .dot {
    cursor: pointer;
  }
  
  .dot:hover {
    fill: darkblue;
  }
  
  .axis-label {
    font-size: 16px;
    fill: black;
    text-anchor: middle;
  }
 /* .tooltip {
     font-size: 10px;
     fill: lightgray;
     text-anchor: middle;
 }

 .tooltip {
    position: absolute;
    font-size: 12px;
    width:  auto;
    height: auto;
    pointer-events: none;
    background-color: white; */